* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

/*PRINCIPAL*/

.box-principal {
    background: url(../hackathon-s2/images/mainimage1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.principal {
    width: 960px;
    height: 535px;
    margin: 0 auto;
}
.principal h1 {
    line-height: 74px;
    padding-top: 35px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 74px;
    color: #ffffff;
}
.principal p {
    width: 365px;
    height: 117px;
    padding-top: 16px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 31px;
    line-height: 42px;
    background: #7299fe80;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    margin: 290px 0 0 40px;
}
/*SOBRE MI*/
.box-sobremi {
    background: #7299FE;
}
.sobremi {
    width: 960px;
    height: 424px;
    margin: 0 auto;
}
.sobremi h2 {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    padding-top: 27px;
    text-align: center;
}
.sobremi p {
    width: 872px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #ffffff;
    padding-top: 29px;
    margin: 0 auto;
}
.bottom-ver {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    padding: 18px 57px;
    background: #D16FFF;
    box-shadow: 0px 4px 4px #00000040;
    border: none;
    border-radius: 20px;
    margin: 30px 0 0 45px;
    cursor: pointer;
    color: #ffffff;
}

/*MIS SKILLS*/
.box-mis-skills {
    background: #9122FF;
}
.misskills {
    width: 960px;
    height: 424px;
    margin: 0 auto;
}
.misskills h2 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    padding-top: 31px;
    display: block;
    color: #ffffff;
    margin-bottom: 35px;
}
.list-skills {
    width: 838px;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 5px;
    margin: 0 auto;
}
.list-skills ul {
    width: 403px;
    list-style: none;
    margin-bottom: 25px;
}
.list-skills ul p {
    letter-spacing: 1px;
    margin-bottom: 14px;
}
.bar {
    display: block;
    height: 21px;
    border: none;
    border-radius: 32px;
    overflow: hidden;
    background: #ffffff;
}
.bar span {
    height: 21px;
    float: left;
    border-radius: 32px;
    background: #57EFF9;
}
.html, .css, .javascript, .vue, .flexbox, .cssgrid {
    width: 40%;
}

/*PORTAFOLIO*/
.box-portafolio {
    background: #FFD233;
}
.portafolio {
    width: 960px;
    height: 424px;
    margin: 0 auto;
}
.portafolio h2 {
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    padding-top: 42px;
    margin-bottom:47px ;
}
.portafolio figure {
    width: 593px;
    height: 198px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}

/*CLIENTES*/
.box-clients {
    background: #3F4E62;
}
.clients {
    width: 960px;
    height: 258px;
    margin: 0 auto;
}
.clients h2 {
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    padding-top: 36px;
    margin-bottom: 15px;  
}
.clients figure {
    width: 851px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/*CONTACTO*/
.box-contact {
    background: #1687A0;
}
.contact {
    width: 759px;
    height: 578px;
    margin:0 auto;
    text-align: center;
}
.contact h2 {
    text-align: center;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    padding-top: 34px;
    margin-bottom: 27px;
}
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 33px;
}
input {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px;
}
textarea {
    width:100%;
    box-sizing: border-box;
    padding: 10px;
    grid-column: span 2;
    font-style: normal;
}
form .bottom-send {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    width: 167px;
    height: 56px;
    background: #233451;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    margin-top: 45px;
    cursor: pointer;
    grid-column: span 2;
    margin:0 auto;
}